
  <div class="welcome">
    <h1 class="roll-in-blurred-bottom">NEIGHBORLY</h1>
    <h3 class="bounce-in-left">Make Friends. <span id="tracking-in-expand">Close.</span></h3>
    <%= render "layouts/start_button" %>
  </div>

<div>
  <img id="car" src="https://gamepedia.cursecdn.com/hillclimbracing2_gamepedia_en/2/2f/Sportscar.png" width="200px" height="150px" alt="small car">
</div>
