
  <div class="welcome">
    <h1 class="roll-in-blurred-bottom">NEIGHBORLY</h1>
    <h3 class="bounce-in-left">Make Friends. <span id="tracking-in-expand">Close.</span></h3>
    <%= render "layouts/start_button" %>
  </div>
