<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style media="screen">
    body {
      background-color: #3AAFA9;
      color: #17252A;
    }
  </style>
</head>
<body style="background-color:#3AAFA9">
  <h1>Hi <%= @user.user_name_first %></h1>
  <p>
    Welcome User!
  </p>
</body>
</html>
