.driveby_small {
  z-index: 0;
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 50vh;
  width: 100vw;
  background-image:
      url('https://raw.githubusercontent.com/nhhor/neighborly/master/app/assets/images/road.png'),
      url('https://inception-app-prod.s3.amazonaws.com/NDU4ODQ4NDItMTAwNC00NzIxLTkwZTMtZjExYmIyNzVkZThj/content/2017/10/neighborhood%20mini%20x3%20no%20bak.png'),
      url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
      url('https://raw.githubusercontent.com/nhhor/neighborly/master/app/assets/images/hills.png');
  background-repeat: repeat-x;
  background-position:
      0 100%,
      0 93%,
      0 63%,
      0 100%;
  background-size:
      15%,
      35%,
      375px 150px,
      700px;
  animation: 50s para_small infinite linear;
  }

@keyframes para_small {
    100% {
        background-position:
            -1200px 100%,
            -800px 94%,
            500px 63%,
            1000px 100%;
        }
    }
