.driveby {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 50vh;
    /* max-height: 600px; */
    width: 100vw;
    // background-color: hsla(200,40%,30%,.4);
    background-image:
        // url('https://image.freepik.com/free-vector/urban-street-landscape-crossroads-traffic-lights_107791-373.jpg'),
        // url('https://cdn.pixabay.com/photo/2017/01/23/16/35/home-2003068__340.png'),
        // url('https://t2.rbxcdn.com/af0dcf2b210ff4bf9cde107f77b063d0'),
        url('https://raw.githubusercontent.com/nhhor/neighborly/master/app/assets/images/road.png'),
        url('https://inception-app-prod.s3.amazonaws.com/NDU4ODQ4NDItMTAwNC00NzIxLTkwZTMtZjExYmIyNzVkZThj/content/2017/10/neighborhood%20mini%20x3%20no%20bak.png'),
        url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
        // url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
        url('https://raw.githubusercontent.com/nhhor/neighborly/master/app/assets/images/hills.png'),
        url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
    background-repeat: repeat-x;
    background-position:
        0 100%,
        0 90%,
        0 50%,
        0 100%,
        0 0;
    background-size:
        20%,
        40%,
        500px 200px,
        1000px,
        400px 260px;
    animation: 50s para infinite linear;
    }

@keyframes para {
    100% {
        background-position:
            -1200px 100%,
            -800px 90%,
            500px 50%,
            1000px 100%,
            400px 0;
        }
    }
