<div class="driveby">
  <!-- Bird HTML -->
  <div class="bird-container bird-container--three">
    <div class="bird bird--three"></div>
  </div>
  <div class="bird-container bird-container--four">
    <div class="bird bird--four"></div>
  </div>
  <br>
</div>
