<div class="search_form">

  <form action="/events" method="get">
    <div class="search_form_center">

    <label for="search_zip">Search by Zipcode: </label>
    <input type="text" name="search_zip" value="<%= @user_zip %>" required>


    <label for="search_range">Select Range: </label>
    <select name="search_range">
      <option value="<%= 5 %>">3 mile radius</option>
      <option value="<%= 10 %>">6 mile radius</option>
      <option value="<%= 15 %>">9 mile radius</option>
    </select>

    <label for="search_category">Search by Category: </label>
    <select name="search_category">
      <option value="All">All</option>
      <option value="Party">Party</option>
      <option value="Games">Games</option>
      <option value="Movie">Movie</option>
      <option value="Child-Friendly">Child-Friendly</option>
      <option value="Study Group">Study-Group</option>
    </select>

    <button class= "submit_form_button" type="submit">Go</button>

  </div>
  </form>
</div>
